= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, placeholder: "user@domain.com", label: false

  .form-actions
    = f.button :submit, class: "btn btn-primary"
