= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, placeholder: "twoj@email.com", label: false

  .form-actions
    = f.button :submit, 'Zapisz się!', class: "btn btn-primary"