= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, placeholder: "Wpisz swój adres e-mail", label: false

  .form-actions
    = f.button :submit, 'Zapisz mnie!', class: 'btn btn-primary'