.container
  .row
    .col-md-4.col-md-offset-2
      %h1.center Wyznacz sobie cel
      %p
        1. zapisz się na newletter
        %br/
        2. oczekuj na maila
        %br/ 
        3. rozpocznij z nami fascynującą przygodę
    .col-md-4
      .form
        = render "users/form"