.container
  .row
    .col-md-6.col-md-offset-3.text-center
      %p Chcesz poznać zasady skutecznego planowania?
      %h1
        = "Dowiedz się, jak wyznaczać cele i&nbsp;skutecznie realizować plany!".html_safe
      %p
        %strong Wpisz swój adres e-mail
        i zdobądź informacje, dzięki którym setki ludzi ustaliły swoje cele i osiągnęły fantastyczne rezultaty!
      .form
        = render "users/form"